@import '../../../styles/variables.scss';

.popup__wrap{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: red;
  width: 200px;
  height: 100px;
  z-index: 1000;
}